version: '3'

services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=mcrm
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - mcrmnet

  rabbitmq:
    image: rabbitmq
    ports:
      - 5672:5672
    restart: unless-stopped
    networks:
      - mcrmnet

  redis:
    image: redis
    ports:
      - 6379:6379
    restart: unless-stopped
    networks:
      - mcrmnet

  web:
    image: mcrm
    command: poetry run python ./mcrm/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/mcrm
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    restart: unless-stopped
    networks:
      - mcrmnet

networks:
  mcrmnet:
    driver: bridge